<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:'foreregister',
                result: [],
                user:{name:'', password:'', repeatpassword:'', user_type:1}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){
                    linkDefaultActions();
                },
                methods: {
                    register:function(){
                        var url =  this.uri;
                        if(0==this.user.name.length){
                            $("span.errorMessage").html("Please input userName");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.password.length){
                            $("span.errorMessage").html("Please input password");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.repeatpassword.length){
                            $("span.errorMessage").html("Please input password again");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(this.user.password !=this.user.repeatpassword){
                            $("span.errorMessage").html("Two password not same");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }

                        axios.post(url,this.user).then(function(response) {
                            var result = response.data;
                            if(result.code==0){
                                location.href="registerSuccess";
                            }
                            else{
                                $("span.errorMessage").html(result.message);
                                $("div.registerErrorMessageDiv").css("visibility","visible");
                            }
                        });
                    }
                }
            });
        })
    </script>
    <div class="registerDiv">
        <div class="registerErrorMessageDiv">
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span class="errorMessage"></span>
            </div>
        </div>

        <table class="registerTable" align="center">
            <tr>
                <td  class="registerTip registerTableLeftTD">Set userName</td>
                <td></td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Login Name</td>
                <td  class="registerTableRightTD"><input v-model="user.name" placeholder="Once the member name is set successfully, it cannot be modified" > </td>
            </tr>
            <tr>
                <td class="registerUserTypeLeft">User type</td>

                    <td>

                            <input v-model="user.user_type" type="radio" name="type" value=1 style="width:15px;height:15px">
                            <lable class="radio-label">Buyer</lable>
                            <input v-model="user.user_type" type="radio" name="type" value=2 style="width:15px;height:15px">
                            <lable class="radio-label">Seller</lable>


                    </td>

            </tr>
            <tr>
                <td  class="registerTip registerTableLeftTD">Set login password</td>
                <td  class="registerTableRightTD">Verify in Login</td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Login password</td>
                <td class="registerTableRightTD"><input v-model="user.password"  type="password"  placeholder="Set your login password" > </td>
            </tr>
            <tr>
                <td class="registerTableLeftTD">Confirmation</td>
                <td class="registerTableRightTD"><input v-model="user.repeatpassword"   type="password"  placeholder="Input password again" > </td>
            </tr>

            <tr>
                <td colspan="2" class="registerButtonTD">
                    <a @click="register"><button>Submit</button></a>
                </td>
            </tr>
        </table>
    </div>
</div>